$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$colorplink1:white;

.jumbotron{
    font-family: $font-family-sans-serif;
    p{
        font-family: 'Monotype Corsiva', 'sans-serif';
    }
    text-align: center;
}

.container{
    #about{
        text-align:center;
        font-family: $font-family-sans-serif;
        font-weight: lighter;
        text-justify: newspaper;
    }
}

.navbar{
    margin-bottom:20px;
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

#header{
    color:#000;
    a:hover{
        color:#000;
        text-decoration: none;
    }
}
a:hover{
    color:#000;
    text-decoration:none;

}
.plainlink{
    text-decoration:none;
    color:$colorplink1;
}
.plainlink a:hover{
    text-decoration: none;
    color:$colorplink1;
}

.nounderline{
    text-decoration:none;
    color:#000;
    font-weight: bold;
}

.greytext{
    a:link{
            color:#707070;
    }    
    a:hover{
        color:#000;
    }

}
#carouselHome{
    a:hover{
        color:#000;
        text-decoration: none;
    }
}